.careers-container{
    margin: 100px 8%;
    .careers-top-text{
        font-size: 5em;
        font-family: "Swansea-bold";
        color: #1d1d1d;
        margin-left: 2vw;
        width: 40%;
    }
    .careers-outline{
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #e5e5e5;
        position: absolute;
        color: white;
        top: 18%;
        right: -10vh;
        font-size: 130px;
    }
    img{
        width: 100%;
        margin-top: 10%;
    }
    .careers-middle{
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 10%;
        width: 80%;
        .the-kind-of-people, .hungry-for, .not-afraid{
            font-family: "Swansea-bold";
            padding: 10px 0px 10px 0px;
        }
        .careers{
            color:#2396b4;
        }
        .col-xl-6{
            padding: 40px 20px;
            .desc{
                color: #525252;
            }
        }
    }
    .positions{
        text-align: center;
        margin-top: 5%;
        .positions-title{
            font-family: "Swansea-bold";
            font-size: 7vw;
            margin-bottom: 5%;
        }
    }
}

@media screen and (max-width:1000px){
    .careers-outline{
        display: none;
    }
}
