.contact-container{
    margin: 200px 8%;
    .top-text{
        font-size: 4em;
        font-family: "Swansea-bold";
        color: #1d1d1d;
        margin-left: 2vw;
    }
    p{
        font-size:1.4em ;
        width: 50vh;
        color: #525252;
        margin:3vw 0vw 6vw 2vw;
    }
    .contact-outline{
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #e5e5e5;
        color: white;
        position: absolute;
        top: 18%;
        right: -10vh;
        font-size: 130px;
        z-index: -1;
    }
}

@media screen and (max-width:1000px){
    .contact-outline{
        display: none;
    }
}