.position-info{
    margin-top: - 30px;
    text-align: center;
    .top-container{
        position: relative;
        img{
            width:100%;
        }
        .job-title{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: white;
            font-size: 7vh;
            font-family: "Swansea-bold", sans-serif;
            -webkit-text-stroke: 1.2px black;
        }
    }
    .desc{
        position: relative;
        margin-top: 10vh;
        width: 60%;
        margin: auto;
        margin-top: 7%;
        .col-xl-6{
            text-align: left;
            p{
                color:#525252;
                width: 75%;
            }
        }
        h1{
            width: 30vh;
        }
    }
    .qualifications{
        text-align: left;
        margin-top: 20%;
        background-color: #1d1d1d;
        color: #b3b3b3;
        img{
            width: 90%;
            margin-top: -10%;
        }
        h3{
            color: white;
        }
        .row{
            width: 70%;
            margin: auto;
            padding: 5% ;
            ul{
                list-style: none;
                li{
                    padding: 10px;
                    position: relative;
                    &:before{
                        content: "";
                        position: absolute;
                        background-color: #2396b4;
                        width: 10px;
                        height: 2px;
                        top: 50%;
                        transform: translateY(-50%);
                        left: -5%;
                    }
                }
            }
        }
    }
    .send-profile{
        margin: 7%;
        Form{
            text-align: left;
            margin: auto;
        }
        p{
            color:#2396b4;
            font-family: "Swansea", sans-serif;
            margin: 0px;
        }
        h1{
            padding: 1% 0 3%;
            margin: 0px;
            font-family: "Swansea-bold";
        }
    }
}