.footer-container{
    background-color:#1d1d1d;
    text-align: center;
    padding: 3% 0%;
    ul{ 
        list-style: none;
        padding: 0px;
        li{
            a {
                color: #b3b3b3;
                line-height: 30px;   
                margin: 5px 30px;
                &:hover {
                    color: #fff;
                }
            }
        }
    }
    p{
        color: #b3b3b3;
        padding-top: 2%;
    }
}