.btn-arrow {
  color: #b3b3b3;
  letter-spacing: 1.5px;
  cursor: pointer;
  min-width: 20rem;
  overflow: hidden;
  text-align: left;
  &:hover{
    color: #fff;
  }
  &:focus, &:active{
    outline: 0 !important;
    border: 0px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
  }
  span {
    display: inline-block;
    transition: all 300ms ease-out;
    font-size: 3rem;
    font-family: "Swansea-bold", sans-serif;
    margin-left: 10px;
    svg {
        position: absolute;
        width: 1.1em;
        font-size: 26px;
        right: 0;
        opacity: 0;
        top: 60%;
        transform: translateY(-50%);
        transition: all 300ms ease-out;
    }   
  }
}
.btn-arrow:hover span {
  transform: translate3d(-1rem, 0, 0);
}
.btn-arrow:hover svg {
  opacity: 1;
  right: -3rem;
}
